.jumbotron{
	background-color: red;
	color:white;	
}

body
{
	height:100%;
	width: 100%;
	background-color: #f4f4f4;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width: 80%;
LL
}

#main_header
{
	background-color: coral;
	padding: 1em;
	padding-left: 5em;
}

#main_introduction
{
	background-color: grey;
	padding: 2em;
	padding-bottom: 2.2em;
	color: #f4f4f4;
	padding-left: 5em;
	font-weight: bold;
}

#menu
{
	padding-top: 1.5em;
	padding-left: 3em;
}

#rightimg
{
	float:right;
}


#leftimg
{
	float:left;
}

#midimg
{
	float:middle;
	padding: 0 0 5px 5px;
	margin-left: 20px;
	
}
.navigation-bar
{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

#quake_text
{
	margin-right: 10%;
}

#video
{
	float: right;
	margin: 1em;
}

input[type=text], [type=textarea] {
	margin-left: 2em;
}

table, th, td {
    border: 1px solid black;
}

li:nth-child(odd)
{
	background-color: #add8e6;
	margin-right:22.5%;
	font-weight: bold;
}

li:nth-child(even)
{
	background-color: #98fb98;
	margin-right:22.5%;
	font-weight: bold;
	text-decoration-color: red;
}

/*Links styling*/
a:link
{
	color: #555;
	text-decoration: none;
}
a:hover
{
	background-color: red;
}

