body {
	background-color: lightblue;
}

#rightimg
{
	float:right;
	padding: 0 0 5px 5px;
	margin-left: 20px;
	border-width: 0px
}


#leftimg
{
	float:left;
	padding: 0 0 5px 5px;
	margin-left: 20px;
	border-width: 0px
}

#midimg
{
	float:middle;
	padding: 0 0 5px 5px;
	margin-left: 20px;
	
}

table, th, td {
    border: 1px solid black;
}